html, 
body{
    font-size: 10px;
    height: 100%;
}

body{
    background-color: var(--color-pomb-and-power);
    max-width: 320px;
    margin:auto;
    font-size: 10px;
    font-family: 'Press Start 2P', cursive;

}